<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About - Smart Contact Manager</title>
</head>
<body>

	<section>
		<div class="row ">
			<div class="col-md-6 p-5">
				<h1 class="fw-bold">We Provide Smart Solution to Save Contacts</h1>
				<p>
					Welcome to our contact managing website! We are a dedicated team of
					professionals passionate about simplifying and streamlining the way
					you manage your contacts. Our goal is to provide you with a
					user-friendly platform that enables you to effortlessly organize,
					access, and update your contacts, saving you time and enhancing
					your productivity. <br> Happy organizing! The InfoSphere Team
				</p>
			</div>
			<div class="col-md-6 text-center mt-1">
				<img src="/images/AboutUs.png" alt="ABOUT_IMAGE" width="500px"/>
			</div>
		</div>
	</section>


</body>
</html>