<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About | InfoSphere</title>
</head>
<body>

	<section>
		<div class="row ">
			<div class="col-md-6 p-5">
				<h1 class="fw-bold">We Provide Smart Solution to Save Contacts</h1>
				<p class="aboutData">At InfoSphere, we believe in simplifying the way you manage
					your contacts. Our dedicated team of professionals is passionate
					about providing you with a user-friendly platform that effortlessly
					organizes, accesses, and updates your contacts. We understand the
					value of your time and aim to enhance your productivity through our
					innovative solutions. Whether you're a busy professional, a
					student, or anyone looking for an efficient contact management
					system, InfoSphere is here for you. Our goal is to
					create a seamless experience, allowing you to focus on what matters
					most while we take care of the rest.</p>
			</div>
			<div class="col-md-6 text-center mt-1">
				<img class="aboutImg" src="/images/AboutUs.png" alt="ABOUT_IMAGE" width="50%" />
			</div>
		</div>
	</section>


</body>
</html>