<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Register - Smart Contact Manager</title>
</head>
<body>

	<section class="text-center">
		<div class="text-center">
			<img class="loader" th:src="@{/images/Registration-Loader.gif}"
				width="500px" style="border-radius: 5px" />
		</div>
		<a class="text-white" th:href="@{/signin}"
			style="text-decoration: none">
			<button class="btn bg-primary text-white btn-lg"
				style="padding: 10px; margin: 10px;">Go to Login</button>
		</a>
	</section>

</body>
</html>